<header id="header">
  <!-- Barra de navegación de bootstrap -->
  <div class="navbar navbar-default">
    <div class="navbar-header">
      <!-- botón desplegar menú -->
      <!-- con "data-target se indica a qué elemento apunta el botón para hacer toggle"  -->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu"
        aria-extended="false">
        <span class="sr-only">Toggle</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <!-- Icono del site -->
      <a clas="navbar-brand" [routerLink]="['/']">
        <!-- Routerlink indica hacia donde apunta el enlace -->
        <img src="./assets/img/logo.png" id="logo" />
      </a>
    </div>

    <!-- Enlaces -->
    <div class="collapse navbar-collapse" id="menu">
      <ul class="nav navbar-nav">
        <li>
          <a [routerLink]="['/']">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span><!-- Se asigna icono de bootstrap -->
            Home
          </a>
        </li>
        <li>
          <!-- "crear tarea" solo se muestra si existe identity -->
          <a [routerLink]="['/']" *ngIf="identity && identity.sub">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Crear Tarea
          </a>
        </li>
      </ul>

      <!-- "Login y registro" solo se muestran si NO existe identity-->
      <ul class="nav navbar-nav navbar-right" *ngIf="!identity">
        <li><a [routerLink]="['/login']">Acceder</a></li>
        <li><a [routerLink]="['/register']">Registro</a></li>
      </ul>

      <!-- "ajustes y salir" solo se muestran si existe identity -->
      <ul class="nav navbar-nav navbar-right" *ngIf="identity && identity.sub">
        <li>
          <a [routerLink]="['/']">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            Ajustes
          </a>
        </li>
        <li>
          <a [routerLink]="['/login', 1]"> <!--redirigimos hacia el login ubicado en login.component, la redirección se define en app.routing.ts-->
            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
            Salir
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>

<!-- esta etiqueta se rellena dinámicamente con el contenido del componente para la ruta indicada en el navegador -->
<router-outlet></router-outlet>