<div>
    <div *ngIf="!identity">
        Inicia seseón para acceder a más opciones
    </div>
    <div class="col-md-12" *ngIf="identity && identity.sub">
        <!--Mostrar buscador-->

        <div class="all-task">

            <table class="table table-hover table-stripped" id="tasks-list" *ngIf="tasks && tasks.length >= 1">
                <tr>
                    <th>Estado</th>
                    <th>Título</th>
                    <th>Acción</th>
                </tr>
                <tr *ngFor="let task of tasks" class="task-item">
                    <td>
                        {{task.status}}
                    </td>
                    <td>
                        {{task.title}}
                    </td>
                    <td>
                        <a href="#" class="btn btn-warning">Editar</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>