<div class="col-md-12"><!-- Esta clase hace que el ancho sea el 100% -->
	<h3>{{title}}</h3>

	<!-- Mensaje si el registro es correcto -->
	<div class="alert alert-success" *ngIf="status == 'success'">
		¡Tarea creada correctamente!
	</div>
	<!-- Mensaje si el registro es incorrecto -->
	<div class="alert alert-danger" *ngIf="status == 'error'">
		Error en la cración de la tarea!
	</div>

	<form #taskNewForm="ngForm" (ngSubmit)="onSubmit(); taskNewForm.reset();" class="col-md-7 no-padding-left">
			<p>
                <label>Título:</label>
                <!--Se usa el patrón twoWayDataBinding los parámetros de componente y vista se modifican mutuamente -->
				<input type="text" class="form-control" name="title" required/> 
                <span *ngIf='!title.valid && title.touched'>El título es obligatorio</span>
            </p>
            <p>
				<label>Descripción:</label>
				<textarea class="form-control" name="description" required></textarea>
            </p>
            <p>
                <label>Estado:</label>
                <select class="form-control" name="status">
                    <option value="new">Nueva</option>
                    <option value="todo">Para hacer</option>
                    <option value="finished">Acabada</option>
                </select>
            </p>
			<input type="submit" value="Crear nueva tarea" class="btn btn-success" [disabled]="!taskNewForm.valid"/>
	</form>
</div>